Repository mrchypark/libdplyr: changes, and which Codecov flags are due for each by the changed paths.
All: rust-unittests, integration-tests

codecov.yml:

# Codecov configuration for libdplyr DuckDB extension
# R7-AC4: Code coverage configuration

coverage:
  # Coverage targets
  range: 70..100
  round: down
  precision: 2
  
  # Status checks
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 10%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

# Comment configuration
comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Ignore paths
ignore:
  - "tests/"
  - "benches/"
  - "examples/"
  - "target/"
  - "build/"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "Cargo.lock"

# Flag configuration for different test types
flags:
  rust-unittests:
    paths:
      - libdplyr_c/src/
    carryforward: true
  
  integration-tests:
    paths:
      - extension/
      - tests/
    carryforward: true

# GitHub integration
github_checks:
  annotations: true

ci: align DuckDB workflows to v1.4.0 and v1.4.5
  .github/workflows/MainDistributionPipeline.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: revert release and distribution workflow versions
  .github/workflows/MainDistributionPipeline.yml
  .github/workflows/release.yml
Due: none

ci: restore CI DuckDB versions to v1.4.0 and v1.4.4
  .github/workflows/ci.yml
Due: none

ci: use native Windows shell for C++ integration tests
  .github/workflows/ci.yml
Due: none

Restructure FFI boundary and DuckDB CI support
  .github/workflows/MainDistributionPipeline.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/submodules.md
  extension/AGENTS.md
  extension/include/dplyr.h
  extension/include/dplyr_extension.hpp
  extension/src/dplyr.cpp
  extension_config.cmake
  libdplyr_c/AGENTS.md
  libdplyr_c/benches/transpile_benchmark.rs
  libdplyr_c/src/cache.rs
  libdplyr_c/src/compile.rs
  libdplyr_c/src/error.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/metadata.rs
  libdplyr_c/src/options.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests, integration-tests

Absorb rand upgrade from PR 7
  Cargo.lock
  libdplyr_c/Cargo.toml
Due: none

Update dependencies and fix CI workflow
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  benches/cli_performance_benchmark.rs
  benches/performance_analysis.rs
  benches/simple_test.rs
  benches/transpile_benchmark.rs
  libdplyr_c/Cargo.toml
  libdplyr_c/benches/extension_loading_benchmark.rs
  libdplyr_c/benches/simple_benchmark.rs
  libdplyr_c/benches/transpile_benchmark.rs
  libdplyr_c/src/cache.rs
  libdplyr_c/src/compile.rs
  libdplyr_c/src/options.rs
Due: rust-unittests

Scope DuckDB compatibility CI by event
  .github/workflows/ci.yml
Due: none

Address compile query review feedback
  libdplyr_c/benches/simple_benchmark.rs
  libdplyr_c/benches/transpile_benchmark.rs
  libdplyr_c/src/cache.rs
  libdplyr_c/src/compile.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests

Fix DuckDB CI regression cases
  CMakeLists.txt
  extension/include/dplyr.h
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Fix Windows DuckDB test runtime
  CMakeLists.txt
Due: none

Prepare community extension submission metadata
  Cargo.toml
  community-pr/description.yml
  docs/community-repo-submission.md
  docs/release-process.md
  extension_config.cmake
Due: none

Pin community submission ref
  community-pr/description.yml
Due: none

Bump dplyr version for community submission
  CMakeLists.txt
  Cargo.toml
  build_dplyr_extension.sh
  community-pr/description.yml
  extension_config.cmake
  libdplyr_c/Cargo.toml
Due: none

Pin community submission commit
  Cargo.lock
  community-pr/description.yml
Due: none

Fix review issues in query rewrite path
  libdplyr_c/src/compile.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests

Guard oversized query rewrites
  libdplyr_c/src/compile.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests

Address FFI review follow-ups
  extension/include/dplyr.h
  libdplyr_c/src/cache.rs
  libdplyr_c/src/compile.rs
  libdplyr_c/src/error.rs
  libdplyr_c/src/options.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests, integration-tests

Fix benchmark build for security checks
  libdplyr_c/benches/transpile_benchmark.rs
Due: none

Harden SQL-aware query rewrite detection
  libdplyr_c/src/compile.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests

Update docs/community-repo-submission.md
  docs/community-repo-submission.md
Due: none

Update docs/submodules.md
  docs/submodules.md
Due: none

Address remaining review feedback
  libdplyr_c/src/compile.rs
  libdplyr_c/src/ffi.rs
Due: rust-unittests

Free stale FFI output pointers on reuse
  libdplyr_c/src/compile.rs
  libdplyr_c/src/ffi.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests

Harden review edge cases and tighten integration tests
  extension/include/dplyr.h
  libdplyr_c/src/compile.rs
  libdplyr_c/src/ffi.rs
  libdplyr_c/src/tests/mod.rs
  tests/duckdb_extension_integration_test.cpp
Due: rust-unittests, integration-tests

Tighten FFI review follow-ups
  libdplyr_c/src/compile.rs
  libdplyr_c/src/ffi.rs
  libdplyr_c/src/memory.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests

Harden query rewrite review follow-up
  libdplyr_c/src/compile.rs
Due: rust-unittests

Clarify FFI output ownership contract
  extension/include/dplyr.h
  libdplyr_c/src/ffi.rs
Due: rust-unittests, integration-tests

Tighten query rewrite timeout and scanner handling
  extension/include/dplyr.h
  libdplyr_c/src/compile.rs
  libdplyr_c/src/ffi.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests, integration-tests

Avoid heap work in panic fallback
  extension/include/dplyr.h
  libdplyr_c/src/compile.rs
  libdplyr_c/src/ffi.rs
Due: rust-unittests, integration-tests

Track owned ffi strings and tighten query size guard
  extension/include/dplyr.h
  libdplyr_c/src/compile.rs
  libdplyr_c/src/ffi.rs
  libdplyr_c/src/memory.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests, integration-tests

Harden query rewrite parser gating
  libdplyr_c/src/compile.rs
  libdplyr_c/src/ffi.rs
  libdplyr_c/src/memory.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests

Align public contract docs and version metadata
  USAGE_GUIDE.md
  docs/packaging.md
  extension/include/dplyr.h
  install.ps1
  install.sh
  libdplyr_c/src/metadata.rs
  libdplyr_c/src/tests/mod.rs
  src/lib.rs
  vcpkg.json
Due: rust-unittests, integration-tests

Clarify ffi header error and thread contracts
  extension/include/dplyr.h
Due: integration-tests

Harden FFI contracts and release evidence
  .github/workflows/ci.yml
  .github/workflows/release.yml
  community-pr/description.yml
  extension/include/dplyr.h
  extension/src/dplyr.cpp
  libdplyr_c/src/compile.rs
  libdplyr_c/src/error.rs
  libdplyr_c/src/ffi.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/memory.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests, integration-tests

Stabilize release ffi tests
  libdplyr_c/src/compile.rs
  libdplyr_c/src/memory.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests

Use Ninja for Windows compatibility CI
  .github/workflows/ci.yml
Due: none

Fix Windows 1.4 compatibility CRT selection
  CMakeLists.txt
  docs/community-repo-submission.md
Due: none

Add configurable pipe syntax and dplyr resolver support
  extension/include/dplyr.h
  extension/src/dplyr.cpp
  libdplyr_c/src/compile.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/options.rs
  libdplyr_c/src/tests/mod.rs
  libdplyr_c/src/validation.rs
  src/cli/error_handler.rs
  src/cli/json_output.rs
  src/cli/pipeline.rs
  src/cli/validator.rs
  src/error.rs
  src/lexer.rs
  src/lib.rs
  src/parser/parse.rs
  src/pipe_syntax.rs
  src/sql_generator/dialect.rs
  src/sql_generator/mod.rs
  src/sql_generator/tests/mod.rs
  tests/cli_integration_tests.rs
  tests/duckdb_extension_integration_test.cpp
  tests/integration_tests.rs
  tests/validator_tests.rs
Due: rust-unittests, integration-tests
