Repository mrchypark/libdplyr: changes, and which Codecov flags are due for each by the changed paths.
All: rust-unittests, integration-tests

codecov.yml:

# Codecov configuration for libdplyr DuckDB extension
# R7-AC4: Code coverage configuration

coverage:
  # Coverage targets
  range: 70..100
  round: down
  precision: 2
  
  # Status checks
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 10%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

# Comment configuration
comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

# Ignore paths
ignore:
  - "tests/"
  - "benches/"
  - "examples/"
  - "target/"
  - "build/"
  - "*.md"
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "Cargo.lock"

# Flag configuration for different test types
flags:
  rust-unittests:
    paths:
      - libdplyr_c/src/
    carryforward: true
  
  integration-tests:
    paths:
      - extension/
      - tests/
    carryforward: true

# GitHub integration
github_checks:
  annotations: true

fix template
  .github/workflows/performance.yml
Due: none

Fix CI/CD issues: format code, add performance tests, fix imports
  libdplyr_c/benches/extension_loading_benchmark.rs
  libdplyr_c/benches/simple_benchmark.rs
  libdplyr_c/benches/transpile_benchmark.rs
  libdplyr_c/build.rs
  libdplyr_c/src/cache.rs
  libdplyr_c/src/error.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/performance_tests.rs
Due: rust-unittests

Fix CI/CD workflow issues
  .github/workflows/performance.yml
Due: none

Simplify performance workflow: skip CMake build
  .github/workflows/performance.yml
Due: none

simplyfi
  .github/workflows/performance.yml
Due: none

fix(c-api): import missing error codes in lib.rs
  libdplyr_c/src/lib.rs
Due: rust-unittests

fix(benchmark): use crate path for imports in benchmark
  libdplyr_c/benches/transpile_benchmark.rs
Due: none

refactor(ci): simplify and consolidate CI workflows
  .github/workflows/benchmark.yml
  .github/workflows/code-quality.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/security.yml
  .github/workflows/test-install.yml
  libdplyr_c/Cargo.toml
  libdplyr_c/benches/transpile_benchmark.rs
Due: none

chore: explicitly set lib path in Cargo.toml
  libdplyr_c/Cargo.toml
Due: none

feat: Remove .kiro directory
  .kiro/specs/libdplyr-transpiler/design.md
  .kiro/specs/libdplyr-transpiler/requirements.md
  .kiro/specs/libdplyr-transpiler/tasks.md
  .kiro/specs/rust-ci-pipeline/design.md
  .kiro/specs/rust-ci-pipeline/requirements.md
  .kiro/specs/rust-ci-pipeline/tasks.md
  .kiro/specs/stdin-stdout-cli/design.md
  .kiro/specs/stdin-stdout-cli/requirements.md
  .kiro/specs/stdin-stdout-cli/tasks.md
  .kiro/steering/README.md
  .kiro/steering/code-quality.md
  .kiro/steering/error-handling.md
  .kiro/steering/language.md
  .kiro/steering/performance-optimization.md
  .kiro/steering/project-guidelines.md
  .kiro/steering/sql-dialect-support.md
  .kiro/steering/testing-standards.md
Due: none

refactor: Apply modern Rust formatting and improve code quality
  CHANGELOG.md
  benches/transpile_benchmark.rs
  examples/pipeline_test.rs
  examples/transpiler_usage.rs
  src/cli/debug_logger.rs
  src/cli/error_handler.rs
  src/cli/json_output.rs
  src/cli/pipeline.rs
  src/cli/signal_handler.rs
  src/cli/stdin_reader.rs
  src/error.rs
  src/lexer.rs
  src/lib.rs
  src/parser.rs
  src/performance.rs
  src/sql_generator.rs
  tests/cli_integration_tests.rs
  tests/integration_tests.rs
Due: none

fix: correct format string syntax in CLI error messages
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/cli/error_handler.rs
Due: none

fix: make CLI version dynamic from Cargo.toml
  Cargo.lock
  src/cli/pipeline.rs
Due: none

release: bump version to 0.1.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Add C FFI interface for DuckDB integration
  Cargo.lock
  Cargo.toml
  libdplyr.h
  src/ffi.rs
  src/lib.rs
Due: none

Add C FFI support for DuckDB extension integration
  Cargo.toml
  cbindgen.toml
  libdplyr.h
Due: none

feat: support bare dplyr pipelines in DuckDB extension
  CMakeLists.txt
  extension/include/dplyr_extension.h
  extension/src/dplyr_extension.cpp
  extension_config.cmake
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

chore: silence libdplyr_c warnings
  libdplyr_c/Cargo.toml
  libdplyr_c/benches/transpile_benchmark.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/performance_tests.rs
Due: rust-unittests

docs: capture current extension test plan
  plan.md
Due: none

ci: expand automation for perf, quality, and security
  .github/workflows/benchmark.yml
  .github/workflows/code-quality.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/security.yml
  .github/workflows/test-install.yml
Due: none

chore: remove obsolete kiro specs
  .kiro/specs/duckdb-extension/design.md
  .kiro/specs/duckdb-extension/requirements.md
  .kiro/specs/duckdb-extension/tasks.md
  .kiro/specs/libdplyr-transpiler/design.md
  .kiro/specs/libdplyr-transpiler/requirements.md
  .kiro/specs/libdplyr-transpiler/tasks.md
  .kiro/specs/rust-ci-pipeline/design.md
  .kiro/specs/rust-ci-pipeline/requirements.md
  .kiro/specs/rust-ci-pipeline/tasks.md
  .kiro/specs/stdin-stdout-cli/design.md
  .kiro/specs/stdin-stdout-cli/requirements.md
  .kiro/specs/stdin-stdout-cli/tasks.md
  .kiro/steering/README.md
  .kiro/steering/code-quality.md
  .kiro/steering/error-handling.md
  .kiro/steering/language.md
  .kiro/steering/performance-optimization.md
  .kiro/steering/project-guidelines.md
  .kiro/steering/sql-dialect-support.md
  .kiro/steering/testing-standards.md
Due: none

update duckdb version
  .github/workflows/ci.yml
Due: none

Add ParserExtension and OperatorExtension definitions for native dplyr syntax
  .gitmodules
  extension/include/dplyr_extension.h
Due: integration-tests

Implement native dplyr syntax support via parser/operator extensions
  extension/src/dplyr_extension.cpp
Due: integration-tests

Remove C API init function to avoid conflict with C++ extension
  libdplyr_c/src/lib.rs
Due: rust-unittests

Add build infrastructure for C++ extension with CPP ABI
  Makefile
  build_dplyr_extension.sh
Due: none

Fix DuckDB version string format in CMakeLists.txt
  CMakeLists.txt
Due: none

Update .gitignore for DuckDB extension artifacts
  .gitignore
Due: none

update lock
  Cargo.lock
Due: none

feat: add load smoke test and align with extension-ci tools
  CMakeLists.txt
  Makefile
  extension/src/dplyr_extension.cpp
  extension_config.cmake
  plan.md
  test_load.sh
Due: integration-tests

feat: execute real dplyr pipelines in table function
  extension/src/dplyr_extension.cpp
  plan.md
  test_load.sh
Due: integration-tests

Refactor: Rename extension to 'dplyr', add standard SQL tests, and fix symbol conflicts for PR
  .gitignore
  CMakeLists.txt
  Makefile
  build_dplyr_extension.sh
  extension/src/dplyr_extension.cpp
  extension_config.cmake
  libdplyr_c/src/lib.rs
  plan.md
  test/sql/dplyr.test
  test_load.sh
  tests/duckdb_extension_integration_test.cpp
  vcpkg.json
Due: rust-unittests, integration-tests

chore: update DuckDB version to 2.0.0
  CMakeLists.txt
  extension_config.cmake
Due: none

refactor: rename extension from dplyr_extension to dplyr
  extension/include/dplyr.h
  extension/src/dplyr.cpp
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

fix: correct Rust transpiler to use source table name
  src/parser.rs
  src/sql_generator.rs
Due: none

chore: export DUCKDB_EXTENSION_PATH in Makefile
  Makefile
Due: none

test: add comprehensive SQL tests for dplyr extension
  test/sql/dplyr.test
Due: none

fix: resolve GitHub Actions CI failures
  .github/workflows/benchmark.yml
  libdplyr_c/benches/transpile_benchmark.rs
Due: none

fix: correct benchmark crate name and apply cargo fmt
  libdplyr_c/benches/transpile_benchmark.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/performance_tests.rs
  src/ffi.rs
  src/sql_generator.rs
Due: rust-unittests
