Repository mrchypark/libdplyr: changes, and which Codecov flags are due for each by the changed paths.
All: rust-unittests, integration-tests

Address pipe syntax and resolver review feedback
  extension/include/dplyr.h
  extension/src/dplyr.cpp
  libdplyr_c/src/compile.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/tests/mod.rs
  src/lib.rs
  src/pipe_syntax.rs
  src/sql_generator/dialect.rs
  src/sql_generator/tests/mod.rs
  tests/duckdb_extension_integration_test.cpp
Due: rust-unittests, integration-tests

Address pipe resolver review feedback
  extension/src/dplyr.cpp
  libdplyr_c/src/cache.rs
  libdplyr_c/src/compile.rs
  src/parser/ast.rs
  src/parser/parse.rs
  src/sql_generator/dialect.rs
  src/sql_generator/mod.rs
  src/sql_generator/mutate_support.rs
  src/sql_generator/tests/mod.rs
  tests/integration_tests.rs
Due: rust-unittests, integration-tests

Fix CI CMake setup version matching
  .github/workflows/ci.yml
Due: none

Use latest CMake in CI setup
  .github/workflows/ci.yml
Due: none

Guard native lambda data argument consumption
  src/lexer.rs
  src/lib.rs
  src/parser/parse.rs
Due: none

Correct string helper translations
  src/sql_generator/dialect.rs
  src/sql_generator/tests/mod.rs
Due: none

Fix CI and address review feedback
  .github/workflows/ci.yml
  CMakeLists.txt
  libdplyr_c/src/options.rs
  libdplyr_c/src/tests/mod.rs
  src/lexer.rs
  src/parser/parse.rs
  src/sql_generator/dialect.rs
  src/sql_generator/tests/mod.rs
Due: rust-unittests

Complete tidyverse helper translations
  src/sql_generator/dialect.rs
  src/sql_generator/tests/mod.rs
Due: none

Normalize n aggregate SQL generation
  src/sql_generator/dialect.rs
  src/sql_generator/mod.rs
  src/sql_generator/tests/mod.rs
Due: none

Run ctest with host architecture on macOS
  .github/workflows/ci.yml
Due: none

Run macOS x86 smoke tests with translated DuckDB CLI
  CMakeLists.txt
Due: none

Preserve SQL passthrough with invalid pipe env
  extension/src/dplyr.cpp
  libdplyr_c/src/compile.rs
  libdplyr_c/src/tests/mod.rs
  tests/duckdb_extension_integration_test.cpp
Due: rust-unittests, integration-tests

Clarify named argument generation errors
  src/error.rs
  src/sql_generator/mod.rs
  src/sql_generator/tests/mod.rs
Due: none

Partition grouped mutate window functions
  src/sql_generator/dialect.rs
  src/sql_generator/mod.rs
  src/sql_generator/mutate_support.rs
  src/sql_generator/tests/mod.rs
Due: none

Simplify unpartitioned mutate subquery expressions
  src/sql_generator/mutate_support.rs
Due: none

Address named args and SQLite function review
  src/parser/parse.rs
  src/sql_generator/dialect.rs
  src/sql_generator/mod.rs
  src/sql_generator/tests/mod.rs
Due: none

Clarify extension initialization and FFI safety
  extension/src/dplyr.cpp
  libdplyr_c/src/compile.rs
Due: rust-unittests, integration-tests

Clarify native lambda consumption error
  src/lib.rs
  src/parser/parse.rs
Due: none

Avoid pipe syntax cache hot-path allocations
  extension/src/dplyr.cpp
  libdplyr_c/src/compile.rs
Due: rust-unittests, integration-tests

Order window rankings by value arguments
  src/sql_generator/dialect.rs
  src/sql_generator/mod.rs
  src/sql_generator/tests/mod.rs
Due: none

Report invalid pipe env as syntax error
  libdplyr_c/src/compile.rs
  libdplyr_c/src/tests/mod.rs
Due: rust-unittests

Fix magrittr lambda first step parsing
  src/lib.rs
  src/parser/parse.rs
Due: none

Make Rust cache non-blocking in CI
  .github/workflows/ci.yml
Due: none

Complete pipe syntax resolver support
  .github/workflows/ci.yml
  extension/src/dplyr.cpp
  src/sql_generator/dialect.rs
  src/sql_generator/mod.rs
  src/sql_generator/tests/mod.rs
  tests/cli_integration_tests.rs
  tests/duckdb_extension_integration_test.cpp
  tests/integration_tests.rs
Due: integration-tests

Fix pipe syntax review regressions
  extension/src/dplyr.cpp
  src/sql_generator/dialect.rs
  src/sql_generator/mod.rs
  src/sql_generator/tests/mod.rs
  tests/duckdb_extension_integration_test.cpp
  tests/integration_tests.rs
Due: integration-tests

Address pipe syntax review threads
  extension/include/dplyr_extension.hpp
  extension/src/dplyr.cpp
  src/sql_generator/mod.rs
  src/sql_generator/tests/mod.rs
  tests/duckdb_extension_integration_test.cpp
  tests/integration_tests.rs
Due: integration-tests

Use DuckDB user variables for pipe syntax
  extension/src/dplyr.cpp
Due: integration-tests

Avoid scalar pipe syntax aborts
  extension/src/dplyr.cpp
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Stabilize null dplyr table errors
  extension/src/dplyr.cpp
Due: integration-tests

Address principal review findings
  .github/workflows/ci.yml
  CMakeLists.txt
  extension/src/dplyr.cpp
  libdplyr_c/src/tests/mod.rs
  src/parser/parse.rs
  src/parser/tests/parse_tests.rs
  src/sql_generator/dialect.rs
  src/sql_generator/mod.rs
  src/sql_generator/tests/mod.rs
  tests/cli_integration_tests.rs
  tests/duckdb_extension_integration_test.cpp
Due: rust-unittests, integration-tests

Fix targeted CLI test binary resolution
  tests/cli_integration_tests.rs
  tests/signal_handling_tests.rs
Due: none

Fix parser extension planning on DuckDB v1.4
  extension/src/dplyr.cpp
Due: integration-tests

Fix pipe syntax setter column input error
  extension/src/dplyr.cpp
Due: integration-tests

Return guidance for pipe syntax column setters
  extension/src/dplyr.cpp
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Use DuckDB setting for pipe syntax mode
  extension/src/dplyr.cpp
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Avoid restoring cached cargo binaries in CI
  .github/workflows/ci.yml
Due: none

Stabilize pipe syntax review fixes
  extension/src/dplyr.cpp
  libdplyr_c/src/compile.rs
  tests/duckdb_extension_integration_test.cpp
Due: rust-unittests, integration-tests

Avoid DuckDB callback throws for pipe setting
  extension/src/dplyr.cpp
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Return parser pipe errors as query errors
  extension/src/dplyr.cpp
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Address named if_else arguments review
  extension/src/dplyr.cpp
  src/parser/parse.rs
  src/parser/tests/parse_tests.rs
  tests/integration_tests.rs
Due: integration-tests

Path conditions:
  rust-unittests: any of: libdplyr_c/src/, but not: tests/, benches/, examples/, target/, build/, *.md, *.yml, *.yaml, *.toml, Cargo.lock
  integration-tests: any of: extension/, tests/, but not: tests/, benches/, examples/, target/, build/, *.md, *.yml, *.yaml, *.toml, Cargo.lock
