Repository mrchypark/libdplyr: changes, and which Codecov flags are due for each by the changed paths.
All: rust-unittests, integration-tests

ci: fix release/test-install yaml issues
  .github/workflows/release.yml
  .github/workflows/test-install.yml
Due: none

build: fix RUSTFLAGS env syntax on Windows
  CMakeLists.txt
Due: none

chore: ignore build-codeql and clean benches
  .gitignore
  libdplyr_c/benches/simple_benchmark.rs
  libdplyr_c/benches/transpile_benchmark.rs
Due: none

fix: stamp duckdb version in standalone build
  CMakeLists.txt
  extension_config.cmake
Due: none

chore: rustfmt transpile benchmark
  libdplyr_c/benches/transpile_benchmark.rs
Due: none

feat: Fix GitHub Actions CI/CD and Security workflows
  libdplyr_c/benches/extension_loading_benchmark.rs
  libdplyr_c/benches/simple_benchmark.rs
  libdplyr_c/benches/transpile_benchmark.rs
  libdplyr_c/geiger-report.json
  libdplyr_c/src/cache.rs
  libdplyr_c/src/error.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/performance_tests.rs
Due: rust-unittests

Fix: Address GitHub Actions workflows and local performance benchmarks
  .github/workflows/performance.yml
  .github/workflows/release.yml
  integration-benchmark-results.md
Due: none

Fix: Apply Rust code formatting (cargo fmt)
  libdplyr_c/benches/transpile_benchmark.rs
  libdplyr_c/src/cache.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/performance_tests.rs
Due: rust-unittests

Fix: Address C++ CodeQL build failure in security.yml
  .github/workflows/security.yml
Due: none

Fix: Disable ASan for C++ CodeQL build
  .github/workflows/security.yml
Due: none

Fix: Explicitly disable ASan for C++ CodeQL build
  .github/workflows/security.yml
Due: none

Fix: Propagate LD_PRELOAD to DuckDB custom command in C++ CodeQL build
  .github/workflows/security.yml
Due: none

Fix: Wrap duckdb_platform_binary with CodeQL runner in C++ CodeQL build
  .github/workflows/security.yml
Due: none

extension: drop DPLYR keyword, add embedded pipelines
  CMakeLists.txt
  extension/src/dplyr.cpp
  extension_config.cmake
  libdplyr_c/benches/extension_loading_benchmark.rs
  test/sql/dplyr.test
  tests/duckdb_extension_integration_test.cpp
  tests/run_cpp_integration_tests.bat
  tests/run_cpp_integration_tests.sh
  tests/run_smoke_tests.bat
  tests/run_smoke_tests.sh
  tests/smoke.sql
Due: integration-tests

docs: update DuckDB usage examples
  docs/community-repo-submission.md
  docs/release-process.md
  scripts/create-release.sh
  scripts/package-all-platforms.sh
  scripts/package-artifacts.bat
  scripts/package-artifacts.sh
  tests/cpp_integration_tests_README.md
  tests/smoke_tests_README.md
Due: none

chore: remove legacy C API scaffolding
  Cargo.lock
  Cargo.toml
  cbindgen.toml
  libdplyr.h
  src/ffi.rs
  src/lib.rs
Due: none

chore: mark parser/table-function tasks done
  plan.md
Due: none

ci: use duckdb -unsigned for local extension loads
  .github/workflows/ci.yml
  .github/workflows/release-deploy.yml
  .github/workflows/release.yml
  tests/run_smoke_tests.bat
  tests/run_smoke_tests.sh
Due: none

ci: fix scheduled CodeQL/coverage failures
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/security.yml
Due: none

cmake: set DUCKDB_MODULE_BASE_DIR for standalone builds
  CMakeLists.txt
Due: none

ci: run macOS x86_64 on macos-13
  .github/workflows/ci.yml
Due: none

test: make cache effectiveness deterministic
  libdplyr_c/src/performance_tests.rs
Due: rust-unittests

ci: simplify workflows
  .github/workflows/code-quality.yml
  .github/workflows/performance.yml
  .github/workflows/release-deploy.yml
  .github/workflows/release.yml
Due: none

docs: update workflow references
  .github/workflows/README.md
  docs/CI_PREVENTION.md
  docs/code-quality.md
  docs/performance-monitoring.md
  docs/release-process.md
  scripts/create-release.sh
Due: none

docs: remove obsolete CI failure tracking
  docs/CI_FAILURE_TRACKING.md
Due: none

perf: find extension binary robustly
  libdplyr_c/benches/extension_loading_benchmark.rs
  scripts/run-performance-tests.sh
Due: none

ci: fix smoke test runner on macOS
  tests/run_smoke_tests.sh
  tests/smoke.sql
Due: none

ci: replace macos-13 runner label
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: fix macos x86_64 cross-arch build
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

build: disable RTTI in extension targets
  CMakeLists.txt
  extension/src/dplyr.cpp
Due: integration-tests

ci: force MSVC toolchain on Windows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

build: enforce no-RTTI flags
  CMakeLists.txt
Due: none

build: define NDEBUG for no-RTTI builds
  CMakeLists.txt
Due: none

extension: fix parser extension planning
  extension/include/dplyr.h
  extension/src/dplyr.cpp
Due: integration-tests

fix(tests): update integration tests to accept exceptions as valid crash prevention
  tests/duckdb_extension_integration_test.cpp
Due: none

fix(extension): add DuckDB 1.4.2 API compatibility and remove duplicate function
  extension/src/dplyr.cpp
Due: integration-tests

fix(ffi): add dplyr_version() function to Rust FFI library
  libdplyr_c/src/lib.rs
Due: rust-unittests

fix: resolve linker errors on Windows and Ubuntu
  .github/workflows/ci.yml
  extension/src/dplyr.cpp
Due: integration-tests

perf: replace CodeQL C++ with clang-tidy for faster CI
  .github/workflows/security.yml
Due: none

fix: make clang-tidy informational only, skip header errors
  .github/workflows/security.yml
Due: none

Path conditions:
  rust-unittests: any of: libdplyr_c/src/, but not: tests/, benches/, examples/, target/, build/, *.md, *.yml, *.yaml, *.toml, Cargo.lock
  integration-tests: any of: extension/, tests/, but not: tests/, benches/, examples/, target/, build/, *.md, *.yml, *.yaml, *.toml, Cargo.lock
