Repository mrchypark/libdplyr: changes, and which Codecov flags are due for each by the changed paths.
All: rust-unittests, integration-tests

Fix parser extension error propagation on macOS
  extension/src/dplyr.cpp
Due: integration-tests

Remove unused dplyr query bind replace
  extension/src/dplyr.cpp
Due: integration-tests

Add pipe lambda smoke coverage
  CMakeLists.txt
  tests/smoke.sql
  tests/smoke_tests_README.md
Due: none

Prepare v0.4.0 release
  CMakeLists.txt
  Cargo.lock
  Cargo.toml
  USAGE_GUIDE.md
  build_dplyr_extension.sh
  community-pr/description.yml
  docs/packaging.md
  extension_config.cmake
  install.ps1
  install.sh
  libdplyr_c/Cargo.toml
  libdplyr_c/src/compile.rs
  libdplyr_c/src/validation.rs
  src/lib.rs
  vcpkg.json
Due: rust-unittests

Support DuckDB 1.5.4 and fix scheduled workflows
  .github/workflows/MainDistributionPipeline.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.lock
  build_dplyr_extension.sh
  community-pr/description.yml
  docs/community-repo-submission.md
  docs/submodules.md
  extension/include/dplyr.h
  extension_config.cmake
Due: integration-tests

Harden compatibility and release workflows
  .github/workflows/MainDistributionPipeline.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/submodules.md
  src/cli/output_formatter.rs
Due: none

Support DuckDB 1.5.4 and fix scheduled workflows (#11)
  .github/workflows/MainDistributionPipeline.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.lock
  build_dplyr_extension.sh
  community-pr/description.yml
  docs/community-repo-submission.md
  docs/submodules.md
  extension/include/dplyr.h
  extension_config.cmake
  src/cli/output_formatter.rs
Due: integration-tests

Add DuckDB 1.5 parser override support
  .github/workflows/MainDistributionPipeline.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CMakeLists.txt
  docs/community-repo-submission.md
  docs/packaging.md
  docs/release-process.md
  docs/submodules.md
  extension/include/dplyr.h
  extension/include/dplyr_extension.hpp
  extension/src/dplyr.cpp
  extension_config.cmake
  scripts/create-release.sh
  scripts/package-all-platforms.sh
  scripts/package-artifacts.bat
  scripts/package-artifacts.sh
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Harden DuckDB parser override integration
  CMakeLists.txt
  README.md
  docs/submodules.md
  extension/include/dplyr_extension.hpp
  extension/src/dplyr.cpp
  extension_config.cmake
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Guard parser callbacks against missing info
  extension/src/dplyr.cpp
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Fix Windows integration test linking
  extension/src/dplyr.cpp
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Add DuckDB 1.5 parser override support (#12)
  .github/workflows/MainDistributionPipeline.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CMakeLists.txt
  README.md
  docs/community-repo-submission.md
  docs/packaging.md
  docs/release-process.md
  docs/submodules.md
  extension/include/dplyr.h
  extension/include/dplyr_extension.hpp
  extension/src/dplyr.cpp
  extension_config.cmake
  scripts/create-release.sh
  scripts/package-all-platforms.sh
  scripts/package-artifacts.bat
  scripts/package-artifacts.sh
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Prepare v0.5.0 release
  .github/workflows/release.yml
  CHANGELOG.md
  CMakeLists.txt
  Cargo.lock
  Cargo.toml
  USAGE_GUIDE.md
  build_dplyr_extension.sh
  community-pr/description.yml
  docs/packaging.md
  extension_config.cmake
  install.ps1
  install.sh
  libdplyr_c/Cargo.toml
  src/lib.rs
  vcpkg.json
Due: none

Update install test runner matrix
  .github/workflows/test-install.yml
Due: none

Prepare v0.5.0 release (#13)
  .github/workflows/release.yml
  .github/workflows/test-install.yml
  CHANGELOG.md
  CMakeLists.txt
  Cargo.lock
  Cargo.toml
  USAGE_GUIDE.md
  build_dplyr_extension.sh
  community-pr/description.yml
  docs/packaging.md
  extension_config.cmake
  install.ps1
  install.sh
  libdplyr_c/Cargo.toml
  src/lib.rs
  vcpkg.json
Due: none

Prepare v0.5.1 release
  .github/workflows/release.yml
  CHANGELOG.md
  CMakeLists.txt
  Cargo.lock
  Cargo.toml
  USAGE_GUIDE.md
  build_dplyr_extension.sh
  community-pr/description.yml
  docs/packaging.md
  docs/release-process.md
  extension_config.cmake
  install.ps1
  install.sh
  libdplyr_c/Cargo.toml
  scripts/create-release.sh
  scripts/install-duckdb-extension.sh
  scripts/package-all-platforms.sh
  scripts/package-artifacts.bat
  scripts/package-artifacts.sh
  scripts/verify-packages.sh
  src/lib.rs
  vcpkg.json
Due: none

Address release review feedback
  scripts/install-duckdb-extension.sh
  scripts/verify-packages.sh
Due: none

Preserve DuckDB verification failures
  scripts/verify-packages.sh
Due: none

Fix extension installation and prepare v0.5.1 (#14)
  .github/workflows/release.yml
  CHANGELOG.md
  CMakeLists.txt
  Cargo.lock
  Cargo.toml
  USAGE_GUIDE.md
  build_dplyr_extension.sh
  community-pr/description.yml
  docs/packaging.md
  docs/release-process.md
  extension_config.cmake
  install.ps1
  install.sh
  libdplyr_c/Cargo.toml
  scripts/create-release.sh
  scripts/install-duckdb-extension.sh
  scripts/package-all-platforms.sh
  scripts/package-artifacts.bat
  scripts/package-artifacts.sh
  scripts/verify-packages.sh
  src/lib.rs
  vcpkg.json
Due: none

feat: upgrade DuckDB and expand dplyr support
  .github/workflows/MainDistributionPipeline.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs/community-repo-submission.md
  docs/dplyr-support.md
  docs/packaging.md
  docs/submodules.md
  examples/transpiler_usage.rs
  extension/include/dplyr.h
  extension/src/dplyr.cpp
  extension_config.cmake
  libdplyr_c/src/cache.rs
  scripts/create-release.sh
  scripts/package-all-platforms.sh
  scripts/package-artifacts.bat
  scripts/package-artifacts.sh
  src/cli/validator.rs
  src/lexer.rs
  src/lib.rs
  src/parser/ast.rs
  src/parser/parse.rs
  src/parser/tests/parse_tests.rs
  src/sql_generator/assemble.rs
  src/sql_generator/dialect.rs
  src/sql_generator/mod.rs
  src/sql_generator/mutate_support.rs
  src/sql_generator/tests/mod.rs
  tests/integration_tests.rs
  tests/smoke.sql
Due: rust-unittests, integration-tests

fix: preserve API versioning and stream errors
  CHANGELOG.md
  CMakeLists.txt
  Cargo.lock
  Cargo.toml
  USAGE_GUIDE.md
  build_dplyr_extension.sh
  community-pr/description.yml
  docs/packaging.md
  extension/src/dplyr.cpp
  extension_config.cmake
  install.ps1
  install.sh
  libdplyr_c/Cargo.toml
  src/lib.rs
  tests/duckdb_extension_integration_test.cpp
  vcpkg.json
Due: integration-tests

feat: add schema-aware relational compilation and DuckDB discovery
  Cargo.lock
  README.md
  docs/dplyr-support.md
  examples/transpiler_usage.rs
  extension/include/dplyr.h
  extension/src/dplyr.cpp
  libdplyr_c/Cargo.toml
  libdplyr_c/src/compile.rs
  libdplyr_c/src/lib.rs
  libdplyr_c/src/schema_compile.rs
  libdplyr_c/src/tests/mod.rs
  libdplyr_c/src/validation.rs
  src/cli/json_output.rs
  src/cli/pipeline.rs
  src/cli/validator.rs
  src/lib.rs
  src/parser/ast.rs
  src/parser/mod.rs
  src/parser/parse.rs
  src/parser/tests/parse_tests.rs
  src/relational/mod.rs
  src/relational/schema.rs
  src/relational/sql.rs
  src/sql_generator/assemble.rs
  src/sql_generator/mod.rs
  src/sql_generator/mutate_support.rs
  src/sql_generator/tests/mod.rs
  tests/cli_schema_tests.rs
  tests/duckdb_extension_integration_test.cpp
  tests/parser_depth_tests.rs
  tests/relational_combine_tests.rs
  tests/relational_compiler_tests.rs
  tests/relational_execution.py
  tests/source_discovery_tests.rs
Due: rust-unittests, integration-tests

chore: prepare v0.7.0 release and audited dependencies
  .github/workflows/release.yml
  CHANGELOG.md
  CMakeLists.txt
  Cargo.lock
  Cargo.toml
  USAGE_GUIDE.md
  build_dplyr_extension.sh
  community-pr/description.yml
  docs/dbplyr-parity.md
  docs/packaging.md
  extension_config.cmake
  install.ps1
  install.sh
  libdplyr_c/Cargo.toml
  src/lib.rs
  vcpkg.json
Due: none

fix: bind default DuckDB pipelines in caller context
  extension/src/dplyr.cpp
  tests/duckdb_extension_integration_test.cpp
Due: integration-tests

Path conditions:
  rust-unittests: any of: libdplyr_c/src/, but not: tests/, benches/, examples/, target/, build/, *.md, *.yml, *.yaml, *.toml, Cargo.lock
  integration-tests: any of: extension/, tests/, but not: tests/, benches/, examples/, target/, build/, *.md, *.yml, *.yaml, *.toml, Cargo.lock
